* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Montserrat", sans-serif;
  }

  a {
    text-decoration: none;
  }

  h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

  .top {
    background-image: url(img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;

    &__title {
        color: #FFF;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 217px;
    }

    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        margin: 32px 0 44px 0;
        width: 481px;
    }

    &__text-bold {
        font-weight: 700;
    }

    &__button {
        width: 234px;
        height: 48px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #9C0332;
        border: 0;
        cursor: pointer;
        transition: all 0.3s;
    }
    &__button:hover {
      background: #800329;
    }
  }

  .second {
    background: #000915;
    padding: 128px 0 128px 0;
  }

  .games {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;

    &__container {
        position: relative;
        transition: all 0.3s;
        cursor: pointer;
    }
    &__container:hover {
      transform: scale(1.05);
    }

    &__text {
        position: absolute;
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        bottom: 32px;
        left: 32px;
    }
  }

  .third {
    background: #000915;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    row-gap: 64px;

    &__imgSeasons {
      transition: all 0.3s;
    }

    &__imgSeasons:hover {
      transform: scale(1.05);
    }
  }

  .fourth {
    background: #000915;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    row-gap: 64px;

    &__textSeasons {
      order: 1;
    }

    &__imgSeasons {
      transition: all 0.3s;
      order: 0;
    }

    &__imgSeasons:hover {
      transform: scale(1.05);
    }
  }



  @import 'mobile';
  @import 'tablet';