@media (max-width: 1250px) {

  .center {
      padding-left: 32px;
      padding-right: 32px;
  }

}

@media (max-width: 1025px) {
 .fourth {

  &__textSeasons {
    order: 0;
  }

  &__imgSeasons {
    order: 1;
  }
}
}

@media (max-width: 600px) {

  h2 {
      text-align: center;
      font-size: 32px;
  }

  .top {
      display: flex;
      align-items: center;
      flex-direction: column;
  
      &__title {
          text-align: center;
          font-size: 32px;
      }

      &__text {
          text-align: center;
          font-size: 14px;
          line-height: 22px; 
          width: 343px;
      }

  }

  .second {
      height: auto;
    }
  
  .third {
    justify-content: center;

    &__textSeasons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__imgSeasons img {
      width: 100%;
    }
  }

  .fourth {
    justify-content: center;

    &__textSeasons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__imgSeasons img {
      width: 100%;
    }
  }

}